/*######################## partie de head ########################*/

#menu {
    width: 100%;
    height: 75px;
    background-color: #131313;
    position: fixed;
    display: block;
    z-index: 999;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.titre {
    color: #fff;
    font-family: Century Gothic;
    font-size: 25px;
    width: 100px;
    cursor: pointer;
}

.head1 {
    border: solid red;
    display: flex;
    width: 180px;
    margin-top: 15px;
    margin-left: 26%;
    border: none;
}

.img-head {
    width: 25px;
    height: 35px;
}

#par {
    text-decoration: none;
    font-family: Segoe UI;
    color: #fff;
    width: 180px;
}

#par:hover {
    color: rgb(158, 88, 223);
}

.lien1 {
    position: fixed;
    top: 23px;
    left: 52%;
    color: #fff;
    cursor: pointer;
}

.lien2 {
    position: fixed;
    top: 23px;
    left: 61%;
    color: #fff;
}

.lien3 {
    position: fixed;
    top: 23px;
    left: 72%;
    color: #fff;
}

.lien4 {
    position: fixed;
    top: 23px;
    left: 85%;
    color: #fff;
}


/*####################### partie de footer ##############################*/

#footer {
    width: 100%;
    height: 17vw;
    display: flex;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    z-index: 999;
    justify-content: space-evenly;
}

#copy {
    width: 100%;
    height: 30px;
    display: block;
    background-color: #d3d3d3;
    text-align: center;
    z-index: 999;
}

#first_part_foter,
#second_part_foter {
    width: 400px;
    height: 75%;
    border: solid red;
    border: none;
}

.somme1 {
    color: #f5f5f5;
    font-family: Rockwell;
    font-size: 17px;
    cursor: pointer;
    border: solid red;
    text-align: -moz-left;
    border: none;
}

.propos,
.cnd,
.login_asadmin {
    text-decoration: none;
    color: #f5f5f5b7;
    margin-left: 8%;
    cursor: pointer;
}

.first_content,
.second_content {
    border: solid black;
    display: flex;
    height: 23%;
    border: none;
}

.imgmail,
.imgwhat {
    width: 35px;
    height: 30px;
    margin-left: 5%;
}

.text_footer1,
.text_footer2 {
    font-size: 18px;
    color: #f5f5f5b7;
    margin-left: 5%;
}


/*
.imgwhat {
    width:50px;
    height:20px;
}



.text_footer1 {
    position: relative;
    top: -15px;
}

.text_footer2 {
    position: relative;
    top: -50px;
}
*/


/*################### Designe de la Partie d'accueil ######################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.def {
    background: #a8c0ff;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    background: linear-gradient(to right, #3f2b96, #a8c0ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    justify-content: center;
    display: flex;
}

.intro_awelk {
    font-family: Gabriola;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.testt {
    display: flex;
}

.imgacc {
    width: 80%;
    height: 60%;
}

.decouvre {
    font-family: Bodoni MT;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}

.des-dev {
    display: flex;
    margin-top: 13%;
}

#first1 {
    width: 40%;
    height: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 6%;
}

#first {
    width: 40%;
    height: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 6%;
    justify-items: center;
}

.imgacc2 {
    width: 80%;
    height: 100%;
    padding-left: 5%;
}

.detail1,
.detail11 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 0px solid;
    background-color: #fff;
}

.detail11 {
    width: 450px;
    background-color: #fff;
    text-align: center;
}

.prix1 {
    width: 210px;
    color: #302b2b;
    font-size: 18px;
    text-align: center;
    margin-left: 28.5%;
}

#color-select {
    width: 200px;
    height: 40px;
}

.btnacc {
    color: white;
    background-color: rgb(110, 72, 180);
    width: 200px;
    height: 40px;
    border: none;
}

.detail {
    color: #c31432;
    font-size: 16px;
    font-family: Lucida Bright;
}


/*##################################  CE DESIGNE POUR DEVICES MOBILES #############################*/

@media screen and (max-device-width: 500px) {
    .def,.intro_awelk{font-size: 25px;}
    .testt{height: 20%;}
    .imgacc{width: 65%;}
    .des-dev{
        height: 70vw;
        justify-content: start;
    }
    #first{
        font-size: 25px;
        height: 65vw;
        text-align: center;
    }
    .detail11{margin-left: -6%;}
    .prix1{margin-left: 22%;}
    #first1{
        height: 57vw;
        width: 48vw;
    }
    /****           Nos Produit         ****/
    .head_of_page{
        height: 10vw;
        text-align: center;
        justify-content: space-around;
        font-size: 45px;
    }
    #titlepro{
        font-size: 25px;
        margin-top: 2vw;}
    .find{width: 44vw;}
    #search,#btnsearch{
        width: 21vw;
        height: 4vw;
        font-size: 20px;}
    .textpro{
        opacity: 1;
        width: 25vw;
        height: 44vw;
        font-size: 20px;
    }
    .imgpro{
        width: 25vw;
        height: 27vw;
    }
    .imgprod{
        width: 24vw;
        height: 32vw;
    }
    .btnpro{
        width: 17vw;
        height: 5vw;
        font-size: 17px;
    }
    #selectprod{height: 60vw;}
    /***********        nous sommes    **************/
    .p-dv,.parag{
        font-size: 15px;
        text-align: -webkit-center;
        color: #00003d;
        font-family: Century Gothic;
    }
    /***********        contactez nous    **************/
    #all_cont{
        height: 133vw;
    }
    h3{
        font-size: 26px;
    }
    #form{
        height: 73vw;
        width: 70vw;
        margin-top: 22vw;
        font-size: 26px;
    }
    .nom,.tele,.email,.msg{
        width: 45vw;
        height: 5vw;
        font-size: 20px;
    }
    .btncont{
        width: 35vw;
        height: 6vw;
        font-size: 20px;
    }
    /***********        Administrateur    **************/
    #sous_body{
        height: 86vw;
        width: 55vw;
    }
    .login_body{
        height: 146vw;
    }
    .wel{font-size: 35px;}
    #form_login{
        height: 43vw;
        font-size: 34px;
    }
    .user_ad,.password_ad{
        width: 38vw;
        height: 5vw;
    }
    .for_pass,.user_ad,.password_ad,.btn_pass{font-size: 20px;}
    .btn_pass{width:28vw;
    height: 5vw;}
}