{% extends "gene.html" %} {% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='/designe/gene.css')}}"><br><br>
<div id="placeimg">
</div><br><br>
<h2 class="def">Awelk Maroc</h2><br> {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, msg in messages %}
<p class="{{category}}">{{ msg }}</p>
{% endfor %} {% endif %} {% endwith %}<br>
<p class="intro_awelk">Offrez à votre dos ce qu'il se fait de plus beau ! Sacs à dos pour homme moderne. Large sélection avec tous les styles : vintage, ville, chic, cuir, toile.</p><br>
<br><br>
<div class="testt">
    <img src="/static/images/accueil1.jpg" class="imgacc">
    <p class="decouvre">Awelk vous permettre de découvrir le monde dans lequel vous vivez est toujours le moteur de tout ce que nous faisons.</p>
</div><br><br><br>
<!--####################################################-->
<div class="des-dev">
    <!--style="height: 700px; display:bloc;margin-top:40%;"> -->
    <form id="first" action="{{url_for('achat')}}" method='POST'><br><br><br>
        <input class="detail11" style="display: none;" name='product' value="BUSINESS SAC À DOS DE VOYAGE"><div class="detail11">BUSINESS SAC À DOS DE VOYAGE</div><br><br><br>
        <p class="prix1">500.00 dh Taxes incluses.</p><br><br><br>
        <select name="color_sac" id="color-select">
                <option value="">--Choisis votre color--</option>
                <option value="noir">Color Noir</option>
                <option value="marron">Color Marron</option>
                <option value="gris">Color Gris</option>
            </select><br><br><br>
        <button type="submit" class="btnacc">Acheter maintenant</button><br><br><br>
        <a href="/nosproduit/BUSINESS-SAC-À-DOS-DE-VOYAGE" class="detail">Tous Les Detai</a><br><br><br>
    </form>
    <div id="first1">
        <img src="/static/images/product/awelk1.jpg" class="imgacc2" onclick="location='/nosproduit/BUSINESS-SAC-À-DOS-DE-VOYAGE'">
    </div>
</div>
<!--####################################################-->
<div class="des-dev">
    <form id="first" action="{{url_for('achat')}}" method='POST'><br><br><br>
        <input class="detail1" style="display: none;" name='product' value="HEWLETT BACKPACK"><div class="detail1">HEWLETT BACKPACK</div><br><br><br>
        <p class="prix1">499.00 dh Taxes incluses.</p><br><br><br>
        <select name="color_sac" id="color-select">
                <option value="">--Choisis votre color--</option>
                <option value="noir">Color Noir</option>
        </select><br><br><br>
        <button type="submit" class="btnacc">Acheter maintenant</button><br><br><br>
        <a href="/nosproduit/HEWLETT-BACKPACK" class="detail">Tous Les Detai</a>
    </form>
    <div id="first1">
        <img src="/static/images/product/awelk11.jpg" class="imgacc2" onclick="location='/nosproduit/HEWLETT-BACKPACK'">
    </div>
</div>
<!--####################################################-->
<div class="des-dev">
    <form id="first" action="{{url_for('achat')}}" method='POST'><br><br><br>
        <input class="detail11" style="display: none;" name='product' value="ARCTIC HUNTER SAC A DOS MULTI-FONCTION"><div class="detail11">ARCTIC HUNTER SAC A DOS MULTI-FONCTION</div><br><br><br>
        <p class="prix1">500.00 dh Taxes incluses.</p><br><br><br>
        <select name="color_sac" id="color-select">
                <option value="">--Choisis votre color--</option>
                <option value="noir">Color Noir</option>
                <option value="marron">Color Marron</option>
        </select><br><br><br>
        <button type="submit" class="btnacc">Acheter maintenant</button><br><br><br>
        <a href="/nosproduit/ARCTIC-HUNTER-SAC-A-DOS-MULTI-FONCTION" class="detail">Tous Les Detai</a>
    </form>
    <div id="first1">
        <img src="/static/images/product/awelk4.jpg" class="imgacc2" onclick="location='/nosproduit/ARCTIC-HUNTER-SAC-A-DOS-MULTI-FONCTION'">
    </div>
</div>
<!--####################################################-->
{% for img in imgs %}
<div class="des-dev">
    <form id="first" action="{{url_for('achat')}}" method='POST'><br><br><br>
        <input class="detail11" style="display: none;" name='product' value="{{img.title}}"><div class="detail11">{{img.title}}</div><br><br><br>
        <p class="prix1">{{ img.prix }} Taxes incluses.</p><br><br><br>
        <button type="submit" class="btnacc">Acheter maintenant</button>
    </form>
    <div id="first1">
        <img src='{{img.name}}'>
    </div>
</div>
{% endfor %}<br>
<script src="{{url_for('static',filename='/annimtion/gene.js')}}" async defer></script>
{% endblock content %}