{% extends "gene.html" %} {% block content %}<br><br><br><br>
<link rel="stylesheet" href="{{url_for('static',filename='/designe/admin.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='/designe/gene.css')}}"><br><br>

<div class="login_body">
    <form action="" method="POST" id="forget_form">
        <br><br>
        <p class="info_mail">S'il vous plait donnez votre adresse e-mail</p><br><br><br>
        <input type="email" name="check_email" placeholder="Votre adresse email" class="user_ad" required><br><br> {% with messages = get_flashed_messages(category_filter=["er_ver "]) %} {% if messages %} {% for msg in messages %}
        <p class='eror'>{{ msg }}</p>
        {% endfor %} {% endif %} {% endwith %}<br>
        <Button type="submit" class="btn_pass">Submit</button><br><br>
    </form>
</div><br> {% endblock content %}