{% extends "gene.html" %} {% block content %}<br><br><br><br>
<link rel="stylesheet" href="{{url_for('static',filename='/designe/admin.css')}}"><br><br>
<div class="login_body">
    <form action="" method="POST" id="forget_form">
        <br><br>
        <p class="info_mail">Nouveau password</p><br><br><br>
        <input type="password" name="nouveau_pass" placeholder="Saisez nouveau password" class="user_ad" required><br><br> {% with messages = get_flashed_messages(category_filter=["er_pass"]) %} {% if messages %} {% for msg in messages %}
        <p class='eror'>{{ msg }}</p>
        {% endfor %} {% endif %} {% endwith %}<br>
        <Button type="submit" class="btn_pass">Submit</button><br><br>
    </form>
</div><br><br> {% endblock content %}