{% extends "gene.html" %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static',filename='/designe/product.css')}}">
    <br><br><br>
    <img src="/static/images/detailproduct/awelk111.jpg" class="img-3"><br>
    <img src="/static/images/what.jpg" id="imagewhat" onclick="location='https://api.whatsapp.com/send/?phone=%2B212608703533&text=Je+vous+contacte+%C3%A0+propos+de+%28MATT+FLAT+SAC+%C3%80+DOS%29&app_absent=0'">
    <div class="first_">
        <form id="first" action="{{url_for('achat')}}" method='POST'><br><br>
            <input type="button"class="detail11" name='product' value="MATT FLAT SAC À DOS"><br>
            <p class="prix1">220.00 dh  Taxes incluses.</p><br>
            <input  name="color_sac" id="color-select" style="border:0px solid; color:white;" value="Noir"><br>
            <button type="submit" class="btnacc">Acheter maintenant</button>
        </form>
        <div id="second" class="second">
            <p class="para1">MATT FLAT Sac à Dos est conçu pour vous simplifier la vie en déplacement.
            livres et articles de voyage s’intégreront parfaitement à l'intérieur. 
            La conception carapace dure de ce sac lui permet de maintenir sa forme même s’il est vide.
            Une organisateur électronique : la organisateur peut contenir des écouteurs, câbles, montre, un téléphone portable, le chargeur, etc, tout en vous permettant de ranger et trouver rapidement ce dont vous avez besoin.</p><br>    
        </div>
    </div><br>
    <img src="/static/images/detailproduct/awelk112.jpg" class="img-31">
    <img src="/static/images/detailproduct/awelk113.jpg" class="img-32"><br>
    <img src="/static/images/detailproduct/awelk114.jpg" class="img-33">
    <img src="/static/images/detailproduct/awelk115.jpg" class="img-34"><br><br><br><br>
    <button onclick="location='/nosproduit'" class="btnproduit">Page de produit</button><br><br>
{% endblock content %}