{% extends "gene.html" %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static',filename='/designe/product.css')}}">
    <br><br><br>
    <img src="/static/images/detailproduct/awelk91.jpg" class="img-3"><br>
    <img src="/static/images/what.jpg" id="imagewhat" onclick="location='https://api.whatsapp.com/send/?phone=%2B212608703533&text=Je+vous+contacte+%C3%A0+propos+de+%28FASHION+STYLE+BACKPACK%29&app_absent=0'">
    <div class="first_">
        <form id="first" ><br><br>
            <input type="button"class="detail11" name='product' value="FASHION STYLE BACKPACKFASHION STYLE BACKPACK"><br>
            <p class="prix1">330.00 DH  Taxes incluses.</p><br>
            <input  name="color_sac" id="color-select" style="border:0px solid; color:white;" value="Noir"><br>
            <button type="submit" class="btnacc">Acheter maintenant</button>
        </form>
        <div id="second" class="second">
            <p class="para2">Vous cherchez une idée de cadeau originale pour quelqu'un de spécial?</p><br>
            <p class="para3">Faites-vous plaisir ou offrez en cadeau à quelqu'un de spécial
            FASHION STYLE Sac à dos voyage & Business  est l'idée parfaite pour cadeau homme, garçon, pour une fête d'anniversaire, Mariage , Nouveau travail, soirée de remise des diplômes, businessman, bien sûr, Parfait pour un collègue, patron, employé, ou un ami qui aime business look.
            Tout le monde va sûrement tous les apprécier ce FASHION STYLE Sac à dos voyage & Business.
            **************************
            Chez Awelk, Nous prenons le style «mode et simple» comme orientation, utilisons des matériaux de haute qualité et une conception minutieuse des détails, intégrons une attitude et une technologie sans compromis dans chaque produit.
            Nous adhérons toujours au concept de développement —— Innovation, diversification, développement durable. Pendant ce temps, nous insistons sur l'objectif qui permet à nos clients d'obtenir une meilleure shopping expérience enligne. 
            </p>
        </div>
    </div><br>
    <img src="/static/images/detailproduct/awelk92.jpg" class="img-31" >
    <img src="/static/images/detailproduct/awelk93.jpg" class="img-32" ><br>
    <img src="/static/images/detailproduct/awelk94.jpg" class="img-33">
    <img src="/static/images/detailproduct/awelk95.jpg" class="img-34"><br>
    <img src="/static/images/detailproduct/awelk96.jpg" class="img-35"><br><br><br><br>
    <button onclick="location='/nosproduit'" class="btnproduit">Page de produit</button><br><br>
{% endblock content %}