{% extends "gene.html" %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static',filename='/designe/product.css')}}">
    <br><br><br>
    <img src="/static/images/detailproduct/awelk61.jpg" class="img-3"><br>
    <img src="/static/images/what.jpg" id="imagewhat" onclick="location='https://api.whatsapp.com/send/?phone=%2B212608703533&text=Je+vous+contacte+%C3%A0+propos+de+%28LAST+HUNTER+SAC+%C3%80+DOS%29&app_absent=0'">
    <div  style="height: 700px; display:bloc;">
        <form id="first" action="{{url_for("achat")}}" method='POST'>
            <input type="button"class="detail11" name='product' value="LAST HUNTER SAC À DOS">
            <p class="prix1">549.00 dh  Taxes incluses.</p>
            <input  name="color_sac" id="color-select" style="border:0px solid; color:white;" value="Noir">
            <button type="submit" class="btnacc" style="margin-left:45%;">Acheter maintenant</button>
        </form>
        <div id="second">
            <p class="para1">Ce sac à dos est une exclusivité de la collection LAST AWELK.
            The Last Hunter  Sac à dos  de couleur grise à fermeture sport métallique. Muni de trois poches sur le devant avec fermeture zippée, une grande et deux de taille plus petite. Poignée sur le haut. Partie arrière matelassée et transpirante, avec sangle permettant d'ajuster le sac à dos à vos bagages.
            Bretelles réglables. Intérieur doublé avec quatre poches, dont une fermée par un zip, une autre en résille et une autre pour les appareils électroniques et portables jusqu'à 13 pouces. Fermeture zippée.</p>
            <p class="para2">Hauteur x Largeur x Profondeur : 38 x 29,5 x 15 cm</p><br>
            <p class="para3">Design élégant, coutures excellentes, très simple mais à la mode.
            Ce sac est l’une des 2 créations d’une série ville, moderne et non-genrée pensée pour la vie active.</p>
        </div>
    </div><br>
    <img src="/static/images/detailproduct/awelk62.jpg" class="img-31">
    <img src="/static/images/detailproduct/awelk63.jpg" class="img-32"><br>
    <img src="/static/images/detailproduct/awelk64.jpg" class="img-33">
    <img src="/static/images/detailproduct/awelk65.jpg" class="img-34"><br>
    <img src="/static/images/detailproduct/awelk66.jpg" class="img-35"><br><br><br><br>
    <button onclick="location='/nosproduit'" class="btnproduit">Page de produit</button><br>
{% endblock content %}