{% extends "gene.html" %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static',filename='/designe/product.css')}}">
    <br><br><br>
    <img src="/static/images/detailproduct/awelk41.jpg" class="img-3"><br>
    <img src="/static/images/what.jpg" id="imagewhat" onclick="location='https://api.whatsapp.com/send/?phone=%2B212608703533&text=Je+vous+contacte+%C3%A0+propos+de+%28FOLDABLE+SMART+SAC+%C3%80+DOS+VOYAGE+&app_absent=0'">
    <div  style="height: 700px; display:bloc;">
        <div id="first" >
            <p type="button"class="detail1">FOLDABLE SMART SAC À DOS VOYAGE & BUSINESS</p>
            <p class="prix1">249.00 dh  Taxes incluses.</p>
            <button class="btnacc" style="margin-left:45%;">Epuisé</button>
        </div>
        <div id="second">
            <p class="para1">Awelk vous offre Foldable Smart Sac à dos voyage & Business Parfait pour une utilisation toute la journée.

            grand espace entièrement ouvert avec 180 ouvertures, qui peut contenir beaucoup d'articles pour répondre aux besoins de voyage de divers groupes

            Chargeur USB intégré à l'extérieur + câble attaché à l'intérieur + poche pour banque d'alimentation. Ce sac vous permet de recharger plus facilement votre téléphone ou autre appareil. Veuillez garder à l'esprit que ce sac à dos ne comprend pas de banque d'alimentation.

            Sac à dos  Compact. Taille parfaite, convient à un ordinateur portable de 15,6 pouces. Matériau très doux à l'intérieur de tous les côtés, ce qui vous offre une sécurité pour votre ordinateur portable et vos tablettes. C'est très important de garder vos aff</p>
        </div>
    </div><br>
    <img src="/static/images/detailproduct/awelk45.jpg" class="img-31">
    <img src="/static/images/detailproduct/awelk43.jpg" class="img-32"><br>
    <img src="/static/images/detailproduct/awelk44.jpg" class="img-33">
    <img src="/static/images/detailproduct/awelk42.jpg" class="img-34"><br><br><br><br>
    <button onclick="location='/nosproduit'" class="btnproduit">Page de produit</button><br>
{% endblock content %}