{% extends "gene.html" %} {% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='/designe/gene2.css')}}"> <br><br><br><br><br>
<h2 class="titre2">Bienvenue dans notre magasin</h2><br><br>
<p class="p-dv">
    ---Nous sommes deux jeunes marocains basés à Casablanca, et notre objectif est de fournir une collection de sacs qui ont fière allure, sont faciles à transporter, regorgent de fonctionnalités et de commodités modernes, tout en offrant un excellent rapport
    qualité-prix et sans frais de livraison ou frais suplémentaires.
</p><br>
<p class="p-dv">
    ---Nous avons ouvert le magasin à l'origine pour fournir des sacs pour ordinateur portable rentables avec des sangles de sac à dos, car nous les trouvions très difficiles à trouver, en particulier des sacs de bonne qualité! Nous avons ensuite découvert
    la façon dont les sacs à dos transforment également le marché des Nappy Bag, et cela est devenu notre gamme la plus populaire, à mesure que de plus en plus de styles deviennent disponibles.
</p><br>
<p class="p-dv">
    ---Nous mettons constamment à jour notre gamme avec les sacs les plus récents et les plus frais que nous puissions trouver, alors visitez-vous régulièrement notre store pour voir les nouveautés. Nous travaillons également actuellement sur nos propres
    conceptions de sacs et de sacs à dos, que nous espérons sortir en 2021.
</p><br>
<p class="p-dv">
    ---La qualité est très importante pour nous et nous avons une politique de remboursement ouverte. Si vous recevez votre sac et n'en êtes pas satisfait, ou changez d'avis ou souhaitez échanger, nous serons heureux de prendre un retour ou un échange. Et
    si vous rencontrez toute sorte de problème avec votre sac, veuillez nous en informer et nous nous occuperons également de vous.
</p><br>
<p class="note">
    Autre point important : 10% de notre bénéfice sur chaque vente sera versé automatiquement à l'association de développement rurale Almers chorafae située dans la région d’Essaouira.
</p><br> {% endblock content %}