{% extends "gene.html" %} {% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='/designe/product.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='/designe/gene.css')}}">
<br><br><br><br><br>
<h3 class="title4">Les Termes & Les Conditions</h3><br><br>
<p class="parag">Les retours et Echanges sont GRATUITS durant 30 jours pour les articles vendus et expédiés par Awelk. </p>
<h4 class="under-title">Les conditions de remboursement :</h4><br>
<p class="parag">L’article doit être retourné dans son état d’origine et dans le délai de rétractation de 30 jours.</p><br>

<h4 class="under-title">Les délais de remboursement :</h4><br>
<p class="parag">Comptez environ 7 jours ouvrés pour les articles retournés par La Poste ou repris à votre domicile </p><br>

<h4 class="under-title">Les modes de remboursement :</h4><br>
<p class="parag">Pas de surprise, sauf cas exceptionnel, votre remboursement se fait sur le mode de paiement initial de votre commande. Si vous avez payé en espèces, nous vous rembourserons par WAFACASH ou par virement bancaire sur votre compte bancaire.</p><br>{% endblock
content %}